@media all and (max-width: 800px) {
  #toolbar, #admin-menu {
    display: none;
  }

  html body.toolbar, html body.admin-menu {
    padding-top: 0 !important;
    margin-top: 0 !important;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  /* IE10+ specific styles go here */
  .admiral-card-vertical-step-2 .vert-top-region .ui-spinner-buttons,
  .admiral-card-horizontal-step-2 .vert-top-region .ui-spinner-buttons {
    left: -16px !important;
  }
  .node-type-admiral-card-horizontal .form-file {
	width: 70%;
}
}
