.page-checkout {
  .commerce-checkout-form-checkout,
  .commerce-checkout-form-shipping {

    fieldset {
      border-color: $basecolor;
    }

    .fieldset-legend {
      color: $basecolor;
    }
    .legend {
      color: $basecolor;
    }
  }
  #customer-profile-billing-ajax-wrapper,
  #customer-profile-shipping-ajax-wrapper,
  #commerce-shipping-service-ajax-wrapper,
  .checkout-buttons {
    width: 50%;
  }

  .checkout-buttons {
    .checkout-continue {
      margin-top: 8px;
    }
    span.button-operator {
      line-height: 36px;
      display: inline-block;
      @include font-size(20px);
      padding: 0 20px;
    }
    .checkout-cancel,
    .checkout-back{
      margin-top: 8px;
      color: $white;
      background-color: $red;
      padding: 0 1.2em;
      &:hover {
        background-color: darken($red, 10%);
      }
    }
  }
  .commerce-checkout-form-review {
    fieldset {
      border-color: $basecolor;
    }

    .fieldset-legend {
      color: $basecolor;
    }
    .legend {
      color: $basecolor;
    }
    .commerce_payment {
      width: 50%;
    }
  }
}