.view-choose-your-charity {

  .view-header {

    .view-choose-your-charity-blocks {

    }
  }

  .view-content {
    display: inline-block;
    .views-row {
      background: $white;
      @include box-shadow(black 2px 2px 15px);
      margin: $vert-spacing-unit $horz-spacing-unit*2 $vert-spacing-unit 0;
      padding: 30px 10px 30px 10px;
      .field--name-admiral-charity-image-field {


      }
    }
  }

  .view-footer {
    clear: left;
    margin-top: $vert-spacing-unit;
    .view-choose-your-charity-blocks {

    }
  }
}


@include breakpoint($tab, true) {

  .view-choose-your-charity {

    .view-header {

      .view-choose-your-charity-blocks {

      }
    }

    .view-content {

      .views-row {
        background: $white;
        float: left;
        margin: $vert-spacing-unit $horz-spacing-unit $vert-spacing-unit 0;
        text-align: center;
        &:nth-child(8) {
          margin-right: 0;
        }

        &:nth-child(16) {
          margin-right: 0;
        }
        &:nth-child(24) {
          margin-right: 0;
        }
      }

    }
  }
}