.view-display-id-block_related_blog_posts {
  .view-header {
    h2 {
      line-height: 54px;
    }
  }
    .views-row {
      width: 100%;
      margin-bottom: -39px;
      .field--name-field-blog-image {
        margin: 0;
        img {
          width: 100%;
        }
      }
      .views-field-title {
        display: block;
        background: rgba($basecolor, 0.8);
        position: relative;
        top: -57px;
        padding: 5px;
        a {
          color: $white;
          text-decoration: none;
          @include font-size(18px);
          line-height: 24px;
          font-weight: bold;
        }
      }
    }
}

@include breakpoint($tab, true) {
  .view-display-id-block_related_blog_posts {

    .views-row {
      width: 33.33333%;
      float: left;
      padding-right: $horz-spacing-unit;
      margin-bottom: -59px;
      .field--name-field-blog-image {
        margin: 0;

        img {
          width: 100%;
        }
      }
      .views-field-title {
        display: block;
        background: rgba($basecolor, 0.8);
        position: relative;
        top: -57px;
      }
    }
  }
}