.block--views-promo-sidebar-second-block {
  .block__content {
    .views-row {
      display: block;
      background: $white;
      border: 1px solid $basecolor;
      min-height: 82px;
      max-height: 82px;
      margin-bottom: $vert-spacing-unit/2;
      overflow: hidden;
      .field--name-field-promo-icon {

        display: inline-block;
        float: left;

        img {
          padding: 15px 5px;
        }
      }
      .field--name-body {
        padding: 15px 5px;
        min-height: 50px;
        max-height: 50px;
        overflow: hidden;
      }
    }
  }
}