.block--views-blog-archive-block {
  .view-content {
    h3 {
      cursor: pointer;
      @include font-size(18px);
      color: $basecolor;
      font-family: $opensans;
    }
    span.collapse-icon {
      @include font-size(10px);
      line-height: 18px;
      vertical-align: top;
    }
    .collapsible-archive {
      padding: $vert-spacing-unit/2 0;
    }
    ul.item-list {
      margin-top: 0;
      li {
        list-style-image: none;
        list-style-type: none;

        a {
          display: block;
          text-decoration: none;
          @include font-size(18px);
          font-weight: bold;
          padding: $vert-spacing-unit/2 0;
        }
      }
    }
  }
}