.view-hcpt-landing-products {
  margin-bottom: $vert-spacing-unit;
  .view-header {
    p {
      margin-bottom: 0;
    }
  }
  .view-content {
    .views-row {
      width: 100%;
      min-height: 300px;
      margin: $vert-spacing-unit*2 0;
      .field--name-field-product-image {
        float: left;
        margin-right: $horz-spacing-unit;
      }
      span {
        font-weight: bold;
      }
      .field--name-field-code {
        display: inline-block;
        font-weight: bold;
      }

      .field--name-body {
        margin-top: $vert-spacing-unit;
      }
    }
  }
  .view-footer {
    p {
      margin-bottom: 0;
    }
    a {
      text-decoration: none;
    }
  }
}

@include breakpoint($desk, true) {
  .view-hcpt-landing-products {
    .view-header {
      p {
        margin-bottom: 0;
      }
    }
    .view-content {
      .views-row {
        width: 50%;
        float: left;

      }
    }
  }
}