/*******************************************************************************
 * ecommerce.layout.scss
 *
 * Styling of the "simple" layout demonstrating the Compass grid extension Susy
 * and building mobile first layouts.
 ******************************************************************************/
.l-header,
.l-main,
.l-blogrelated,
.l-footer {
  *zoom: 1;
  max-width: 1190px;
  _width: 1190px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
.l-header:after,
.l-main:after,
.l-blogrelated:after,
.l-footer:after {
  content: "";
  display: table;
  clear: both;
}

.l-navigation,
.l-region--content-first,
.l-breadcrumb,
.l-user-cart {
  *zoom: 1;
  max-width: 1190px;
  _width: 1190px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: auto;
  margin-right: auto;
}
.l-navigation:after,
.l-region--content-first:after,
.l-breadcrumb:after,
.l-user-cart:after {
  content: "";
  display: table;
  clear: both;
}

/* additional margin to seperate breadcrumb from menu */
/*.l-breadcrumb {
  margin-top: $vert-spacing-unit;
}*/
.l-region--highlighted,
.l-region--help,
.l-region--sidebar-first,
.l-region--sidebar-second {
  margin-bottom: 20px;
}

@media (min-width: 44em) {
  .l-user-cart,
  .l-header,
  .l-navigation,
  .l-region--content-first,
  .l-main,
  .l-blogrelated,
  .l-footer {
    max-width: 1190px;
  }

  .l-region--user-specific {
    width: 66.10169%;
    float: left;
    margin-right: 1.69492%;
  }

  .l-branding {
    width: 49.15254%;
    float: left;
    margin-right: 1.69492%;
  }

  .l-region--header {
    width: 49.15254%;
    float: right;
    margin-right: 0;
  }

  .l-region--navigation {
    clear: both;
  }

  .has-sidebar-first .l-content,
  .has-sidebar-second .l-content,
  .has-two-sidebars .l-content {
    width: 66.10169%;
    float: left;
    margin-right: 1.69492%;
  }
  .has-sidebar-first .l-region--sidebar-first,
  .has-sidebar-first .l-region--sidebar-second,
  .has-sidebar-second .l-region--sidebar-first,
  .has-sidebar-second .l-region--sidebar-second,
  .has-two-sidebars .l-region--sidebar-first,
  .has-two-sidebars .l-region--sidebar-second {
    width: 32.20339%;
    float: right;
    margin-right: 0;
  }
  .has-sidebar-first .l-region--sidebar-second,
  .has-sidebar-second .l-region--sidebar-second,
  .has-two-sidebars .l-region--sidebar-second {
    clear: right;
  }
}
@media (min-width: 70em) {
  .l-user-cart,
  .l-header,
  .l-navigation,
  .l-region--content-first,
  .l-breadcrumb,
  .l-main,
  .l-blogrelated,
  .l-footer {
    max-width: 1190px;
  }

  .l-branding {
    width: 49.36709%;
    float: left;
    margin-right: 1.26582%;
  }

  .l-region--header {
    width: 49.36709%;
    float: right;
    margin-right: 0;
  }

  .has-sidebar-first .l-content {
    width: 74.68354%;
    float: right;
    margin-right: 0;
  }
  .has-sidebar-first .l-region--sidebar-first {
    width: 24.05063%;
    float: left;
    margin-right: 1.26582%;
  }

  .has-sidebar-second .l-content {
    width: 74.68354%;
    float: left;
    margin-right: 1.26582%;
  }
  .has-sidebar-second .l-region--sidebar-second {
    width: 24.05063%;
    float: right;
    margin-right: 0;
    clear: none;
  }

  .has-two-sidebars .l-content {
    width: 49.36709%;
    float: left;
    margin-right: 1.26582%;
    margin-left: 25.31646%;
  }
  .has-two-sidebars .l-region--sidebar-first,
  .has-two-sidebars .l-region--sidebar-second {
    width: 24.05063%;
    float: left;
    margin-right: 1.26582%;
  }
  .has-two-sidebars .l-region--sidebar-first {
    margin-left: -75.94937%;
  }
  .has-two-sidebars .l-region--sidebar-second {
    float: right;
    margin-right: 0;
    clear: none;
  }

  /*Content are for product display */
  .l-left-portrait-prod-display {
    width: 62.02532%;
    float: left;
    margin-right: 1.26582%;
  }

  .l-right-portrait-prod-display {
    width: 36.70886%;
    float: right;
    margin-right: 0;
  }
}
