// Set consistent vertical and horizontal spacing units.
$vert-spacing-unit: 18px;
$horz-spacing-unit: 1em;

$sml_tab_portrait: 37.5em;
$tab: 44em;
$sml_tab_landscape: 50em;
$tab_landscape: 64em;
$desk: 70em;

$grids: 4;
$grids: add-grid(12 at $tab);

$gutters: 1/3;
