.block--block-4 {
  display: inline-block;
  width: 100%;
  text-align: center;
  .block__content {
    color: $white;
    p {
      margin-bottom: 0;
      a {
        color: $white;
        text-decoration: none;
        &:hover {
          color: $basecolor;
        }
      }
    }
  }
}