.layout-13 .super-duper-preview {
  z-index: 999;
  width: 794px;
  height: 1155px;
  background: $white;
  border: 5px solid $grey;
  @include box-shadow(black 2px 2px 15px);
  @include border-radius(5px);
  position: absolute;
  left: 200px;
  top: 1600px;

  p {
    margin-bottom: 0;
  }

  .close-preview {
    background: url('../images/x-icon.png');
    background-repeat: none;
    width: 32px;
    height: 32px;
    cursor: pointer;
    float: right;
  }

  .preview-page-left {
    width: 100%;
    float: left;
    text-align: center;
    padding-top: 125px;
    border-bottom: 20px solid $basecolor;
    border-right: 4px dashed lighten($basecolor, 25%);

    .preview-charity-image {
      img {
        width: 33%;
      }
    }
  }

  #right-panel {
    border-left: 4px dashed lighten($basecolor, 25%);
  }

  .preview-page-right {
    width: 100%;
    float: left;
    text-align: center;
    border-left: 4px dashed lighten($basecolor, 25%);

    .preview-greeting {
      @include font-size(16px);
      font-family: font3;
      clear: both;
      width: 700px;
      margin: 0 auto;
      margin-top: 0px;
      display:table-cell;
      vertical-align:bottom;
      .greeting {
        display: table-cell;
        width: 700px;
        height: 216px;
        vertical-align: bottom;
      }
    }


    .preview-address-center {
      clear: both;
      display: block;
      width: 482px;
      margin: 0 auto;
      background: orange;
      margin-top: 20px;
      .address-center {
        display: table-cell;
        width: 482px;
        height: 120px;
        vertical-align: bottom;
      }
    }


    .preview-center-bottom {
      width: 50%;
      display: inline-block;
      background: red;
      float: left;
      text-align: left;
      img {
        border: 1px solid black;
        margin-left: 27px;
      }
    }


    .preview-right-image {
      width: 50%;
      display: inline-block;
      background: red;
      text-align: right;
      img {
        border: 1px solid black;
        margin-right: 27px;
      }
    }
  }
}
