@font-face {
    font-family: "font1";
    src: url(Dancing_Script.ttf); /* IE */
    src: local("Dancing Script"), url("Dancing_Script.ttf") format("truetype"); /*non-IE*/
}

@font-face {
    font-family: "font2";
    src: url(Crafty_Girls.ttf); /* IE */
    src: local("Crafty Girls"), url("Crafty_Girls.ttf") format("truetype"); /*non-IE*/
}

@font-face {
    font-family: "font3";
    src: url(Lato.ttf); /* IE */
    src: local("Lato"), url("Lato.ttf") format("truetype"); /*non-IE*/
}

@font-face {
    font-family: "font4";
    src: url(Redressed.ttf); /* IE */
    src: local("Redressed"), url("Redressed.ttf") format("truetype"); /*non-IE*/
}

@font-face {
    font-family: "font5";
    src: url('Crimson_Text.ttf'); /* IE */
    src: local("Crimson Text"), url("Crimson_Text.ttf") format("truetype"); /*non-IE*/
}

body {
    position: absolute;
    bottom: 0px;
    width: 98%;
}

.cke_editable .rteleft {
    text-align: left;
}

.cke_editable .rtejustify {
    text-align: justify;
}

.cke_editable .rtecenter {
    text-align: center;
}

.cke_editable .rteright {
    text-align: right;
}


.cke_editable {
    /* position: absolute;
    bottom: 0px;
    */
    font-family: font1;
    font-size: 16px;
}

