.node--blog-post--full {
  .user-info-wrapper {
    p {
      @include font-size(16px);
    }

    .user-picture {
      display: inline;
      float: left;
      margin-right: $horz-spacing-unit;
      margin-bottom: $vert-spacing-unit;
      img {
        @include border-radius(200px);
        @include box-shadow(gray 2px 2px 15px);
      }
    }
    .user-info-details {
      padding-top: $vert-spacing-unit;
      .user_post_info_name {
        color: $basecolor;
        font-weight: bold;
      }
      .formatted_date {
        display: inline;
        margin-bottom: $vert-spacing-unit;
      }
      .in-categories {
        @include font-size(16px);
        padding-top: $vert-spacing-unit;
        span.label {
          float: left;
          padding-top: 3px;
        }
        .view-blog-categories-links {
          display: inline-block;
          @extend %hlist;
          ul {
            margin: 0;
            padding: 0;
            li {
              a {
                background: $basecolor;
                color: white;
                padding: 5px;
                text-decoration: none;
                @include border-radius(5px);
                margin-left: $horz-spacing-unit;
              }
            }
          }
        }
      }

    }
  }
  .field--name-field-blog-image {
    margin-bottom: $vert-spacing-unit;
  }
}