.node--admiral-card-horizontal {
  .image-display {
    background: $white;
    width: 50%;
    float: left;
    text-align: center;
    padding: $vert-spacing-unit 0;
    float: left;
    img {
      @include box-shadow(lighten($black, 20%) 2px 2px 15px);
    }
  }

  .form-display {
    width: 50%;
    float: left;
    padding: 0 $horz-spacing-unit;
    .field--name-commerce-price {
      display: inline-block;
      //margin-bottom: $vert-spacing-unit;
      .field__label {
        padding-right: $horz-spacing-unit;
      }
    }
    .commerce-product-field-title-field {
      display: none;
    }
    .field--name-field-product {
      margin-bottom: $vert-spacing-unit;
      .form-item-quantity {
        clear: left;
      }
    }
    .field__label {
      display: inline-block;
      float: left;
    }
    .commerce-product-extra-field-sku,
    .field--name-field-card-view,
    .field--name-field-card-size {
      margin-bottom: $vert-spacing-unit/2;
    }
  }
}