/**
 * $PAGER
 */
.pager {
  @include clearfix(true);
}

.pager__item {
  display: block;
  float: left;
  margin: 0.1em;
  padding: 0;
}

.pager__item a,
.pager__item--current,
.pager__item--ellipsis {
  display: block;
  padding: 0.5em 0.8em;
  border: 1px solid $mid-grey;
  color: $mid-grey;
  text-decoration: none;
}
.pager__item a:hover {
  background-color: $basecolor;
  border-color: $basecolor;
  color: #fff;
}
.pager__item--current {
  border-color: $basecolor;
  color: $basecolor;
}
.pager__item--ellipsis {
  border: none;
}
