/**
 * $FONT-FACE
 */
@import url(https://fonts.googleapis.com/css?family=Maven+Pro:400,700);
@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Kreon:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

/*@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed);*/

/*@include font-face("font2", font-files("../fonts/Crafty_Girls.ttf"));*/


/*@include font-face("Handwritten", font-files("fonts/Handwritten/Handwritten.ttf"));
@include font-face("Cursive", font-files("fonts/Cursive/Cursive.ttf"));
@include font-face("Sans Serif", font-files("fonts/SansSerif/Sans-Serif.ttf"));
@include font-face("Script", font-files("fonts/Script/Script.ttf"));
@include font-face("Serif", font-files("fonts/Serif/Serif.ttf"));*/

@include font-face("font1", font-files("Dancing_Script.ttf"));
@include font-face("font2", font-files("Crafty_Girls.ttf"));
@include font-face("font3", font-files("Lato.ttf"));
@include font-face("font4", font-files("Redressed.ttf"));
@include font-face("font5", font-files("Crimson_Text.ttf"));





@include establish-baseline($base-font-size);

/**
 * $BASE-TYPOGRAPHY
 */
html {
  font-family: $opensans;
  color: $dark-grey;
}

/**
 * $LINKS
 */

//Set all the colors for a link with one mixin call. Order of arguments is:

//normal hover active visited focus

a {
  @include link-colors($basecolor, lighten($basecolor, 25%), lighten($basecolor, 35%), $basecolor, grey);
}

/**
 * $HEADINGS
 */
h1, .alpha,
h2, .beta,
h3, .gamma,
h4, .delta,
h5, .epsilon,
h6, .zeta {
  @include rhythm(0, 0, 0, 0.2);;
  color: darken($mid-grey, 15%);
  font-family: $kreon;

  a,
  a:visited {
    color: inherit;
    text-decoration: none;
  }
  a:hover {
    color: $dark-blue;
  }
}

h1, .alpha {
  @include font-size(48px);
  font-weight: 700;
  line-height: 48px;
}
h2, .beta {
  @include font-size(42px);
  font-weight: normal;
  color: $black;
}
h3, .gamma {
  @include font-size(26px);
  line-height: 26px;
}
h4, .delta {
  @include font-size(18px);
}
h5, .epsilon{
  @include font-size(16px);
  font-weight: 700;
}
h6, .zeta {
  @include font-size(16px);
  color: $mid-blue;
}

/**
 * $PARAGRAPHS
 */
p,
%p {
  margin: 0;
  @include rhythm(0, 0, 0, 1);
}
p + img {
  float: left;
  margin-right: $horz-spacing-unit;
}

/**
 * $QUOTES
 */
blockquote {
  @include rhythm(0, 1, 1, 1);
  padding: 0 1.6em;
  background: url('../images/quote-up.png');
  background-size: 26px 29px;
  background-repeat: no-repeat;
  background-position: top left;
  font-style: italic;
  color: $black;

  p {
    margin: 0;
    padding-right: 2em;
    background: url('../images/quote-down.png');
    background-size: 26px 29px;
    background-repeat: no-repeat;
    background-position: bottom right;
    min-height: 30px;
  }
}

q {
  font-style: italic;
}

/**
 * $MARKS
 */
mark,
.marker {
  padding: 0.1em 0.5em;

  background: $light-blue;

  color: #fff;
  @include font-size(12px);
  text-transform: capitalize;

  @include border-radius(10px);
}
